.homeHero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: white;
  color: #232323;
  background-size: 200px;
  animation: scroll 100s linear infinite;
  transition: all 400ms ease-in-out;
  position: relative;
}

.homeHeroHeader {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  justify-content: space-between;
}

.branding {
  font-weight: 700;
}

.homeHeroMeta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: appear 1000ms ease-in-out;
}

.companyMeta {
  margin-top: 24px;
  text-align: center;
}

.companyName {
  font-weight: 700;
  font-size: 1.254rem;
  opacity: 0;
  animation-name: companyName;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: row;
}

.studioPart {
  width: 0;
  overflow: hidden;
  animation-name: revealStudio;
  animation-duration: 300ms;
  animation-delay: 2000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.companyKeyPoints {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  font-size: .924rem;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;

  div {
    border-bottom: 2px solid;
    display: block;
    width: 6rem;
    text-align: center;
    cursor: pointer;
    padding-bottom: 8px;
  }
}






@keyframes scroll {
  100% {
    background-position: 2300px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}


@keyframes appear {
  from {
    margin-bottom: -500px;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}

@keyframes companyName {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes revealStudio {
  from {
    width: 0;
  }
  to {
    width: 66px;
  }
}
