.container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.links {
  display: flex;
  gap: 16px;
  a {
    font-weight: 300;
    font-size: .8rem;
    position: relative;
    cursor: pointer;
  }

  a:after {
    content: '';
    position: absolute;
    left: -4px;
    right: -4px;
    bottom: -4px;
    width: 0;
    height: 2px;
    display: block;
    background-color: #232323;
    transition: width 300ms ease-in-out;
  }

  a:hover {
    &:after {
      width: calc(100% + 8px);
    }
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 32px;
  }
}
