.wrapper {
  display: flex;
  position: relative;
  cursor: pointer;

  &:hover {
    .shadow {
      left: 0;
      top: 0;
      line-height: 5rem;
      font-weight: 700;
      transform: scale(1);
    }
  }
}

.title {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
}

.shadow {
  font-size: 4rem;
  font-weight: 800;
  width: 100%;
  position: absolute;
  line-height: 4rem;
  opacity: .1;
  left: -1rem;
  top: -2.6rem;
  transition: all 200ms ease-in-out;
  transform: scale(1.8);
  transform-origin: top left;
}
