.section {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.sectionContent {
  width: 100%;
  max-width: 1400px;
  padding: 6rem 2rem;

  .storyText {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;

    .storyTextContent {
      width: 60%;
      opacity: 0;
      animation: descriptionAppear 1000ms forwards;
      animation-delay: 400ms;
    }
    .storyTextTitle {
      opacity: 0;
      flex: 1;
      text-align: right;
      animation: titleAppear 1000ms forwards;
      span {
        font-size: 1.2rem;
        opacity: .4;
        transition: all 200ms ease-in-out;
      }
      h3 {
        margin-bottom: 1rem;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
      }

      &:hover {
        span {
          opacity: 1;
        }
      }
    }

    p {
      line-height: 1.6rem;
      margin-top: 2rem;
    }
  }
}

.storyTextActivated {
}

.storyTextTitleActivated {
}


@keyframes titleAppear {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes descriptionAppear {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
